[Desktop Entry]
Type=Application
Name=UMU Game Launcher
Comment=Launch and manage Windows games on Linux using UMU-Proton
Exec=/home/hamza/dev/Projects/surf/launch-umu.sh
Icon=/home/hamza/dev/Projects/surf/umu_launcher/resources/umu-launcher.svg
Terminal=false
Categories=Game;Utility;
Keywords=game;windows;proton;launcher;umu;
StartupWMClass=umu-launcher
